SteamInputDB-Buddy is **the official** buddy-app for SteamInputDB
It provides direct integration into the Steam client, allowing users to easily access and manage their Steam Input configurations.
<br />

SteamInputDB-Buddy, currently features:

- Flexible "apply config" system  
  - Apply configurations to specific (_connected_) controllers
  - Apply **any** configuration to **any** game, even across titles and non-Steam games.  
    Think: taking a config from _Game [1]_ and applying it to _Game [2]_, or to a non-Steam shortcut
    <enhanced:img src="$lib/assets/buddy-app/advanced-apply.png?w=1280;640;400" alt="Advanced apply dialog" style="margin-top: 0.25em; margin-bottom: 0.25em; padding: 0.5em; padding-top: 0; width: 60%" />  
- Controller-aware filtering  
  Pre-filters configs to your actually connected controllers, removing UI clutter and complexity
- Library buttons inside Steam for each game, so you can jump straight to available configs from your library  
  - Works in both Desktop and Big Picture mode
  - Optionally uses Steams built-in browser, so you can stay in Steam while browsing configs 
    <enhanced:img src="$lib/assets/buddy-app/desktop-button.png" alt="Library Button" style="margin-top: 0.25em; margin-bottom: 0.25em; width: 60%" />  
- And more to come! <sup style="opacity: 0.5;">(soon™)</sup>  
