<script>

import Logo from '$lib/assets/logo.svg?component';
</script>

# FAQ

<div class="box warning">
<h2>🚧 Work in progress 🚧</h2>
</div>

## What is this?

SteamInputDB makes it easier and more convenient to browse, filter, share, and apply community-shared SteamInput controller layouts/configurations.  

It uses data _directly from Steam_ (via the Steam Web API) to fetch, search, and display _**every**_ configuration that has been uploaded to Steam, rather than creating a separate and fragmented system.  
Upload your configuration _directly in Steam_, and it will be immediatly available on SteamInputDB!  
And yes, it works with **non-Steam** games, too! 😎


In the **future**, there will be even more community features, including multiple rating systems for games:  

- How well does a game play with which controller?
- Is Steam Input required for certain controllers?
- Are gyro controls possible?  
  Via Mouse? Native?

Think of it as something similar to what [ProtonDB](https://www.protondb.com/) does for Proton compatibility, but for controller support.

Using the official [SteamInputDB-Buddy App](https://www.steaminputdb.com/buddy-app/install), SteamInputDB provides direct integration into the Steam client, users can:

SteamInputDB-Buddy, currently features:

- Flexible "apply config" system  
  - Apply configurations to specific (_connected_) controllers
  - Apply **any** configuration to **any** game, even across titles and non-Steam games.  
    Think: taking a config from _Game [1]_ and applying it to _Game [2]_, or to a non-Steam shortcut
- Controller-aware filtering  
  Pre-filters configs to your actually connected controllers, removing UI clutter and complexity
- Library buttons inside Steam for each game, so you can jump straight to available configs from your library  
  - Works in both Desktop and Big Picture mode
  - Optionally uses Steams built-in browser, so you can stay in Steam while browsing configs 
- And more to come! <sup style="opacity: 0.5;">(soon™)</sup>  

I created this project because I think that Steams built-in sharing system does severely lack discoverability and usability.  
At the current state, I'd call this project the absolute bare minimum viable product, but I hope more features will be added in the future.  

This project is open source and available on [GitHub](https://github.com/Alia5/steaminputdb.com).  
Feel free to contribute or open an issue if you have any suggestions or find any bugs.

## How to use the configs

### Buddy App

The easiest way to use the configs is to install the official [ <Logo style="width: 1em; height: 1em; vertical-align: middle;" /> SteamInputDB-Buddy App](https://www.steaminputdb.com/buddy-app/install).  
It provides direct integration into the Steam client, allowing you to directly apply configurations to any game directly from the Website.

If you have it installed and running, you should see an "Apply Config" button on the config page (on this website).  
Clicking it will open a dialog, where you can select which game and which controllers you want to apply the config to.

<div class="box" >
<strong>Example</strong>

<enhanced:img
    src="$lib/assets/buddy-app/advanced-apply.png?w=1280;640;400"
    alt="Advanced apply dialog"
    style="margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.5em;
    padding-top: 0;
    width: 100%;
    object-fit: contain;" />  
</div>

The buddy app works on both Desktop and Big Picture mode  
It also works for both Steam and non-Steam games.

### Without Buddy App

<div class="box alert">
<strong>Non Steam Apps</strong>

Non-Steam apps will have to be renamed **to the exact same name as the _"Shortcut"_ name displayed on this website**.  
</div>

#### Semi-Automatic

If you own the game on Steam, simply plugin your controller, and click the "Apply Config" button on the config page (on this website).  
Steam should open a preview-window for the config, where you can click "Apply" again to use it.  

**Please note** that Steam often bugs out using this feature, and you _might_ have to _restart Steam_ **and** have a controller plugged-in, before it works.

#### Manually

1. Create a Steam Input config and save it **or** view a community config for the game
2. In the [Steam folder](http://pcgamingwiki.com/wiki/Game_data#Steam) (depends on the operating system you're using) go to `[steam folder]/userdata/`.  
    Then you have to choose the directory that corresponds to your user id.  
    If there's only one, open it.  
    Then go to  `[steam folder]/userdata/[your user number]/241100/remote/controller_config`  
3. Search for the file which name matches the config you created earlier.  
   It should be in a folder like `[steam folder]/userdata/[your user number]/241100/remote/controller_config/[steam app id]/[name of config]`
4. Paste the downloaded config or replace the contents of the one that's already there.
5. Start Steam


<style lang="postcss">
.box {
	display: grid;
	border-radius: 0.5em;
	padding: 0;
	--box-color: color(from var(--text-color) srgb r g b / 0.33);
	--heading-color: color(from var(--color-primary) srgb r g b / 0.33);
	border: 1px solid var(--box-color);
	overflow: hidden;
	white-space: normal;
	width: min(100%, 80ch);

	& > :first-child {
		background-color: var(--heading-color);
		font-size: 1.1em;
		padding: 0.5em;
		border-radius: 0;
		display: flex;
		align-items: center;
		gap: 1ch;
		& :global(svg) {
			color: var(--box-color);
		}
		width: 100%;
        margin: 0;
	}
	display: grid;
	& > :last-child {
		padding: 1em;
	}
}

.box.alert {
	--box-color: firebrick;
	--heading-color: color(from firebrick srgb r g b / 0.33);
}

.box.warning {
    --box-color: goldenrod;
    --heading-color: color(from goldenrod srgb r g b / 0.33);
}

</style>